@{
    Layout = null;
    Layout = "~/Views/Shared/_BillHdr.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Baby时尚丽苑ERP</title>
    <style type="text/css">
    </style>
    <script type="text/javascript">
        $(function () {
            $('#aa').accordion({
                animate: true, collapsible: true
            });
            $.get("/ProjectMenu/LoadTree", "", function (data) {
                data = $.parseJSON(data);
                var fData = $.grep(data, function (item) {
                    if (item.Fid == 0) {
                        $('#aa').accordion('add', {
                            title: item.text,
                            iconCls: item.iconCls,
                            content: '</br><ul id=tree' + item.id + '></ul> ',
                            selected: false
                        });
                        $('#tree' + item.id).tree({
                            data: item.children,
                            onClick: function (node) {
                                TbTab(node.text, node.Link);  // 在用户点击的时候提示
                            }
                        });
                    }
                    return item.Fid == 0;
                });
            });
        });


        function TbTab(title, href) {
            var exists = $('#ttabs').tabs("exists", title);
            if (!exists) {
                $('#ttabs').tabs('add', {
                    title: title,
                    content: '<iframe style="height:99%;width:99%;" src="' + href + '" scrolling="no" frameborder="0"></iframe>',
                    closable: true
                });
            }
            $('#ttabs').tabs("select", title);
            return false;
        } 
     
    </script>
</head>
<body class="easyui-layout">
    <!--------网页头部-------------------------------------------------------------------------->
    <div region="north" border="false" style="height: 50px; background-color: #4d9ed3;">
        <div style="float: left; margin: 8px 0px 10px 12px;">
            <img src="/Content/images/logo2.gif" />
            <span style="font-size: 28px; color: white; font-family: 'SimSun'; font-weight: bold;">Baby时尚丽苑ERP </span>
        </div>
     <div style="float: right;">
            <span>今天是：@DateTime.Now.Year 年 @DateTime.Now.Month 月 @DateTime.Now.Day 日</span>
            <span>&nbsp; &nbsp; &nbsp; </span>欢迎您：
            <span>Admin </span>
            <span>&nbsp; &nbsp; &nbsp; </span>
            <a href="/Login/Logon">注销</a>
        </div> 
 
    </div>
    <div region="west" split="true" title="导航菜单" style="width: 200px;">
        <div id="aa" class="easyui-accordion" style="height: 100%;border:0px;">
            @*<div title="  订单" selected="true" iconcls="icon-image_Order" style="overflow: auto; padding: 10px;">
                <ul id="ttree" class="easyui-tree" data-options="animate:true,lines:true">
                    <li><span><a style="text-decoration: none;" onclick="TbTab('等待发货', '/TbOrders')">等待发货</a></span></li>
                    <li><span>已发货</span></li>
                    <li><span>退款</span></li>
                    <li><span>需要评价</span></li>
                    <li><span>成功订单</span></li>
                    <li><span>关闭订单</span></li>
                </ul>
            </div>
            <div title="  网店"  iconcls="icon-image_Shop" style="padding: 10px;">
                <ul id="TJ" class="easyui-tree" data-options="animate:true,">
                    <li><span><a style="text-decoration: none;" onclick="TbTab('SKU销量统计', '/ProductStatistics')">上架SKU</a></span></li>
                    <li><span><a style="text-decoration: none;" onclick="TbTab('SKU销量统计', '/ProductStatistics')">商品销量统计</a></span></li>
                    <li><span><a style="text-decoration: none;" onclick="TbTab('SKU销量统计', '/ProductStatistics')">销售店铺</a></span></li>
                </ul>
            </div>
            <div title="  进货"   iconcls="icon-image_Purchase" style="padding: 10px;">
                <ul id="ttp" class="easyui-tree" data-options="animate:true,lines:true">
                    <li><span><a style="text-decoration: none;" onclick="TbTab('产品表', '/Product')">进货订单</a></span></li>
                    <li><span><a style="text-decoration: none;" onclick="TbTab('供销商', '/Supplier')">出货订单</a></span></li>
                </ul>
            </div>
            <div title="  商品"  iconcls="icon-image_Product" style="padding: 10px;">
                <ul id="ttp" class="easyui-tree" data-options="animate:true,lines:true">
                    <li><span><a style="text-decoration: none;" onclick="TbTab('产品表', '/Product')">产品表</a></span></li>
                    <li><span><a style="text-decoration: none;" onclick="TbTab('供销商', '/Supplier')">供销商</a></span></li>
                </ul>
            </div>*@
        </div>
    </div>
    <div region="center" title=""  >
        <div id="ttabs" class="easyui-tabs" data-options="fit:true">
        </div>
    </div>
    <div region="south" split="true" style="height: 30px; text-align: center; padding:4px;">
        悠闲种子@工作室
    </div>
</body>
</html>
