body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:1038px;
  height:500px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:490px;
  top:23px;
  width:151px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:75px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:180px;
  top:81px;
  width:43px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:20px;
  top:134px;
  width:1043px;
  height:170px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:115px;
  top:0px;
  width:234px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:39px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:230px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:349px;
  top:0px;
  width:113px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:462px;
  top:0px;
  width:269px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:731px;
  top:0px;
  width:146px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:877px;
  top:0px;
  width:161px;
  height:39px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:39px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:39px;
  width:115px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:115px;
  top:39px;
  width:234px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:36px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:349px;
  top:39px;
  width:113px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:462px;
  top:39px;
  width:269px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:731px;
  top:39px;
  width:146px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:877px;
  top:39px;
  width:161px;
  height:36px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:75px;
  width:115px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:115px;
  top:75px;
  width:234px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:349px;
  top:75px;
  width:113px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:462px;
  top:75px;
  width:269px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:731px;
  top:75px;
  width:146px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:877px;
  top:75px;
  width:161px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:105px;
  width:115px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:115px;
  top:105px;
  width:234px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:349px;
  top:105px;
  width:113px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:462px;
  top:105px;
  width:269px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:731px;
  top:105px;
  width:146px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:877px;
  top:105px;
  width:161px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:135px;
  width:115px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:115px;
  top:135px;
  width:234px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:230px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:349px;
  top:135px;
  width:113px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:462px;
  top:135px;
  width:269px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:731px;
  top:135px;
  width:146px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:877px;
  top:135px;
  width:161px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0066FF;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:234px;
  top:78px;
  width:170px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:460px;
  top:81px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:526px;
  top:77px;
  width:170px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:720px;
  top:78px;
  width:100px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:234px;
  top:360px;
  width:547px;
  height:37px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:37px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
