@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DIV CSS遮罩层</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        #bg {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            /*width: 100%;*/
            /*height: 100%;*/
            z-index: 1001;
            -moz-opacity: 0.7;
            opacity: .70;
            filter: alpha(opacity=70);
            background-color: rgb(119, 119, 119);
            cursor: pointer;
        }

        #show {
            display: none;
            position: absolute;
            padding: 8px;
            z-index: 1002;
            overflow: auto;
            filter: alpha(opacity=50);
        }

        #div_Content {
            padding: 10px;
            background-color: white;
        }

        #close_div {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1103;
            display: none;
            background: transparent url('/Images/fancybox.png') -40px 0;
        }

        #fancybox-title-float-wrap {
            border: none;
            border-collapse: collapse;
            width: auto;
        }

        #fancybox-title-float-left {
            padding: 0 0 0 15px;
            background: url('/Images/fancybox.png') -40px -90px no-repeat;
        }

        #fancybox-title-float-right {
            padding: 0 0 0 15px;
            background: url('/Images/fancybox.png') -55px -90px no-repeat;
        }

        #fancybox-title-float-main {
            color: #FFF;
            line-height: 29px;
            font-weight: bold;
            padding: 0 0 3px 0;
            background: url('/Images/fancybox-x.png') 0 -40px;
        }

        #fancybox-left {
            position: absolute;
            bottom: 0;
            height: 100%;
            width: 35%;
            cursor: pointer;
            outline: none;
            background: transparent url('/Images/blank.gif');
            z-index: 1102;
            display: none;
        }

            #fancybox-left:hover #fancybox-left-ico {
                display: block;
            }

        #fancybox-left-ico {
            position: absolute;
            top: 50%;
            width: 30px;
            height: 30px;
            left: 20%;
            margin-top: -15px;
            cursor: pointer;
            z-index: 1102;
            display: none;
            background-image: url('/Images/fancybox.png');
            background-position: -40px -30px;
        }

        #fancybox-right {
            position: absolute;
            bottom: 0;
            height: 100%;
            right: 0;
            width: 35%;
            cursor: pointer;
            background: transparent url('/Images/blank.gif');
            z-index: 1102;
        }

            #fancybox-right:hover #fancybox-right-ico {
                display: block;
            }

        #fancybox-right-ico {
            background-image: url('/Images/fancybox.png');
            background-position: -40px -60px;
            position: absolute;
            right: 20%;
            top: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            cursor: pointer;
            z-index: 1102;
            display: none;
        }
    </style>
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#bg").live("click", function () {
                hidediv();
            });
        });
        function showdiv() {
       
            var pics = [{ pic: "/FileUp/ProductImage/20140912/b1.jpg", title: "b1.jpg" }, { pic: "/FileUp/ProductImage/20140912/b1.jpg", title: "b1.jpg" }, { pic: "/FileUp/ProductImage/20140912/b12.jpg", title: "b12.jpg" }, { pic: "/Images/3.png", title: "3.jpg" }];


            InitPaging(pics, 1); 
            
            $("#show").fadeIn("slow");
            $("#bg").css({ "width": "100%", "height": "100%" }).fadeIn("slow");
        }
        function hidediv() {
            $("#show").fadeOut("slow");
            $("#bg").fadeOut("slow");
        }

        function InitPaging(data, Index) {
            SetPic(data, Index);
            //上一页
            $("#fancybox-left").live("click", function () {
                var curIndex = GetPageIndex();
                SetPic(data, curIndex - 1);
            });

            //下一页
            $("#fancybox-right").live("click", function () {
                var curIndex = GetPageIndex();
                SetPic(data, curIndex + 1);
            });
        }

        function SetPic(data, index) { 
            if ($("#PicMain").length != 0) {
                $("#PicMain").remove();
            }


            var iamge = $("<img src='" + data[index - 1].pic + "' id='PicMain'>").load();
            $("#div_Content").append(iamge);

            var fancyboxMain = data[index - 1].title + "  (" + index + "/" + data.length + ")";
            $("#fancybox-title-float-main").text(fancyboxMain); 
           
            if (data.length <= 1) {
                $("#fancybox-left").css("display", "none");
                $("#fancybox-right").css("display", "none");
            }
            else if (index == 1) {
                $("#fancybox-left").css("display", "none");
                $("#fancybox-right").css("display", "block");
            }
            else if (index == data.length) {
                $("#fancybox-left").css("display", "block");
                $("#fancybox-right").css("display", "none");
            } else {
                $("#fancybox-left").css("display", "block");
                $("#fancybox-right").css("display", "block");
            }

            $("#show").css({
                position: "absolute",
                left: ($(window).width() - $("#show").outerWidth(true)) / 2,
                top: ($(window).height() - $("#show").outerHeight(true)) / 2
            }); 
        }

        //获取当前页码
        function GetPageIndex() {
            var text = $("#fancybox-title-float-main").text();
            var str = text.substr(text.indexOf("(") + 1, text.length - text.indexOf("(") - 2);
            return curIndex = parseInt(str.split('/')[0]);
        }




    </script>

</head>
<body>
    <input id="btnshow" type="button" value="Show" onclick="showdiv();" />
    <div id="bg"></div>
    <div id="show">
        <div style="margin: 10px; " id="div_Content">
            <a id="close_div" style="display: inline;" onclick="hidediv();"></a>
            <a href="javascript:void(0);" id="fancybox-left" style="display: none;"><span class="fancy-ico" id="fancybox-left-ico"></span></a>
            <a href="javascript:void(0);" id="fancybox-right" style="display: none;"><span class="fancy-ico" id="fancybox-right-ico"></span></a>
        </div>

        <table id="fancybox-title-float-wrap" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
            <tbody>
                <tr>
                    <td id="fancybox-title-float-left"></td>
                    <td id="fancybox-title-float-main"></td>
                    <td id="fancybox-title-float-right"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
