@{
    Layout = null;
    Layout = "~/Views/Shared/_BillHdr.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>采购订单列表</title>
    <script type="text/javascript">
        $(function () {
            Load();
        });
        function Load() {
            $('#tt').datagrid({
                singleSelect: true,
                remoteSort: false,
                fitColumns: true,
                fit: true,
                pagination: true,
                pageList: [30, 50, 100],
                nowrap: false,
                url: '/BillDelivery/LoadView',
                queryParams: { "status": "50", "rows": "30", "page": "1" },//status, int rows, int page
                columns: [[
                 { field: 'cks', checkbox: true, align: 'center', width: 10 },
                 { title: '订单号', field: 'Formno', align: 'center', width: 30 },
                 { title: '订单状态', field: 'State', align: 'center', width: 30 },
                 { title: '供应商', field: 'SupplierID', align: 'center', width: 50 },
                 { title: '创建人', field: 'Uid', align: 'center', width: 80 },
                 { title: '创建时间', field: 'CreateTime', align: 'center', width: 80 },
                 { title: '操作', field: 'cz', align: 'center', width: 120 },
                ]],
                toolbar: [{
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        $("#digAdd").css("display", "block");
                        $('#digAdd').window({
                            title: '订单加载',
                            width: 700,
                            height: 400,
                            closed: false,
                            cache: false,
                            modal: true
                        });
                        var p = { "formno": "" };
                        OperationDetails(p);
                    }
                }],
                onClickRow: function (rowIndex, rowData) {
                    var p = { "formno": rowData.Formno };
                    LoadDetails(p);
                }
            });

        }
        function LoadDetails(param) {
            $('#ttDeltail').datagrid({
                url: '/BillDelivery/LoadDtl',
                striped: true,
                remoteSort: false,
                fit: true,
                fitColumns: true,
                nowrap: false,
                singleSelect: true,
                rownumbers: true,
                queryParams: param,
                columns: [[
                          { title: 'SKU', field: 'Code', align: 'center', width: 50 },
                          { title: '图片', field: 'image', align: 'center', width: 50 },
                          { title: '数量', field: 'Qty', align: 'center', width: 50 },
                          { title: '价格', field: 'Price', align: 'center', width: 50 },
                          { title: '成本', field: 'Cost', align: 'center', width: 50 }
                ]]
            });
        }

        //操作明细
        function OperationDetails(param) {
            $('#ttProductList').datagrid({
                url: '/BillDelivery/LoadDtl',
                striped: true,
                remoteSort: false,
                fit: true,
                fitColumns: true,
                nowrap: false,
                singleSelect: true,
                rownumbers: true,
                queryParams: param,
                columns: [[
                          { title: 'SKU', field: 'Code', align: 'center', width: 50, editor: "textbox" },
                          { title: '产品名称', field: 'Title', align: 'center', width: 100, editor: "textbox" },
                          { title: '数量', field: 'Qty', align: 'center', width: 50, editor: { type: 'numberbox', options: { precision: 2 } } },
                          { title: '价格', field: 'Price', align: 'center', width: 50, editor: { type: 'numberbox', options: { precision: 2 } } }
                ]], toolbar: [{
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: append
                }, {
                    text: '保存',
                    iconCls: 'icon-edit',
                    handler: accept
                }, {
                    text: '撤销',
                    iconCls: 'icon-edit',
                    handler: reject
                }, {
                    text: '移除',
                    iconCls: 'icon-remove',
                    handler: removeit
                }],
                onClickCell: onClickCell

            });
        }


        function SkuSubmit() {
            var hdr = {};
            $("[txtfield]").each(function (index, element) {
                hdr[$(element).attr("txtfield")] = $(element).textbox("getValue");
            });
            var rows = $("#ttProductList").datagrid("getRows");

            $.post("/BillDelivery/Save", { "jsonHdr": JSON.stringify(hdr), "jsonRows": JSON.stringify(rows) }, function (data) {
                if (data == "Ok") {
                    $.messager.alert('消息提示', '成功添加。');
                    Load();
                    $('#digAdd').window("close");
                    return;
                }
                $.messager.alert('消息提示', '添加失败。');
            })
        }

        function Cancel() {
            $('#digAdd').window("close");
        }



        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($('#ttProductList').datagrid('validateRow', editIndex)) {
                var ed = $('#ttProductList').datagrid('getEditor', { index: editIndex, field: 'Code' });
                var Code = $(ed.target).combobox('getText');
                $('#ttProductList').datagrid('getRows')[editIndex]['Code'] = Code;
                $('#ttProductList').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickCell(index, field) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#ttProductList').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    var ed = $('#ttProductList').datagrid('getEditor', { index: index, field: field });
                    ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                    editIndex = index;
                } else {
                    $('#ttProductList').datagrid('selectRow', editIndex);
                }
            }
        }
        function append() {
            if (endEditing()) {
                var row = { Code: "", Title: "", Qty: 0, Price: 0.00 };
                $('#ttProductList').datagrid('appendRow', row);
                editIndex = $('#ttProductList').datagrid('getRows').length - 1;
                $('#ttProductList').datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
            }
        }
        function removeit() {
            if (editIndex == undefined) { return }
            $('#ttProductList').datagrid('cancelEdit', editIndex)
                    .datagrid('deleteRow', editIndex);
            editIndex = undefined;
        }
        function accept() {
            if (endEditing()) {
                $('#ttProductList').datagrid('acceptChanges');
            }
        }
        function reject() {
            $('#ttProductList').datagrid('rejectChanges');
            editIndex = undefined;
        }
        function getChanges() {
            var rows = $('#ttProductList').datagrid('getChanges');
            alert(rows.length + ' rows are changed!');
        }
    </script>
</head>
<body style="margin: 0px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:true,border:false" style="height: 70%;">
            <div id="tb" style="padding: 2px 5px; height: 9%;">
                <select id="cc" class="easyui-combobox" name="dept" style="width: 120px;">
                    <option>订单号</option>
                    <option>供应商</option>
                    <option>创建人</option>
                    <option>创建时间</option>
                </select>
                <input class="easyui-textbox" style="width: 120px">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search">查询</a>
            </div>
            <div style="height: 89%;">
                <table id="tt"></table>
            </div>
        </div>
        <div data-options="region:'center',border:false" style="height: 10%;">
            <div class="easyui-tabs" data-options="fit:true">
                <div title="商家明细" style="padding-top: 3px;">
                    <table id="ttDeltail"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="digAdd" style="display: none;">
        <div style="width:665px;height:340px;padding:10px;">
            <div class="easyui-layout" data-options="fit: true">
                <div data-options="region:'north',split:true" style="height:80px;">
                    <table style="margin-left: auto; width: 95%; height: 95%; margin-right:auto; padding:8px; ">
                        <tr>
                            <td>
                                编号：
                            </td>
                            <td>
                                <input class="easyui-textbox" txtfield="Formno" style="width: 120px;" id="Title" type="text" name="Title">
                            </td>
                            <td>
                                供应单位：
                            </td>
                            <td>
                                <input class="easyui-textbox" txtfield="SupplierID" style="width: 120px;" id="SupplierID" type="text" name="SupplierID">
                            </td>
                            <td>
                                经手人：
                            </td>
                            <td>
                                <input class="easyui-textbox" txtfield="Uid" style="width: 120px;" id="Uid" type="text" name="Uid">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                仓库：
                            </td>
                            <td>
                                <input class="easyui-textbox" txtfield="WHID" style="width: 120px;" id="WHID" type="text" name="WHID">
                            </td>
                            <td>
                                运费：
                            </td>
                            <td>
                                <input class="easyui-textbox" txtfield="Freight" style="width: 120px;" id="Freight" type="text" name="Freight">
                            </td>
                            <td>摘要：</td>
                            <td>
                                <input class="easyui-textbox" txtfield="Description" style="width: 120px;" id="Description" type="text" name="Description">
                            </td>
                        </tr>
                    </table>
                </div>
                <div data-options="region:'center'">
                    <table id="ttProductList"></table>
                </div>
                <div data-options="region:'south'" style="text-align:right;height:40px;">
                    <div style="margin:5px;">
                        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="SkuSubmit()" style="width:80px;">Ok</a>
                        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="Cancel()" style="width: 80px; ">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
