@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BillHdr.cshtml";
}
 
<script type="text/javascript">
    $(function () {
        $('#tt').tabs({
            border: false,
            onSelect: function (title) {
               
            }
        });

        $('#tt').tabs('add', { 
            title: 'New Tab',
            content: '<iframe style="height:99%;width:99%;" src="/Product/ProductEixt" frameborder="0"></iframe>',
            closable: true
        });
    });

</script>
<div id="tt"style="width:1000px;height:600px;"> 
</div>