body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:910px;
  height:510px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:510px;
}
#u2 {
  position:absolute;
  left:2px;
  top:247px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:70px;
  top:40px;
  width:100px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:40px;
  width:100px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:415px;
  top:40px;
  width:100px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:233px;
  width:100px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:240px;
  top:233px;
  width:100px;
  height:100px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:420px;
  top:233px;
  width:100px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:62px;
  top:152px;
  width:101px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:235px;
  top:152px;
  width:101px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:412px;
  top:152px;
  width:101px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:580px;
  top:152px;
  width:151px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:780px;
  top:152px;
  width:101px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:70px;
  top:353px;
  width:101px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:227px;
  top:353px;
  width:126px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:394px;
  top:353px;
  width:176px;
  height:27px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:27px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:601px;
  top:42px;
  width:100px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:781px;
  top:42px;
  width:100px;
  height:100px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
